<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
<link type='text/css' href='css/main.css' rel='stylesheet'>
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<script src='js/getTides.js'></script>
<meta name="description" content="Need to know the tides for westmeadow? Get it from NOAA.">
<meta name="keywords" content="West,Meadow,Tides,Long,Island,Long Island, West Meadow,NOAA,High,Low">
</head>
