{% include head.html %}
<body>
<div id='header'>
<h1>West Meadow Tides</h1>

<p>3-day tide data for West Meadow Beach. Please note these are only **PREDICTIONS**</p>
</div>
<div class='container'>
  <div class='row'>
    <div class="col-md-6" id='today'>
      {% include tideData.html %}
    </div>
    <div class="col-md-6" id='tomorrow'>
      {% include tideData.html %}
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6" id='day3'>
      {% include tideData.html %}
    </div>
    <div class="col-md-6" id='day4'>
      {% include tideData.html %}
    </div>
  </div>
</div>

{{ content }}

{% include footer.html %}

</body>
</html>
